body {
  background-color: rgb(237, 235, 234);
}
.box {
  border: 1px solid rgb(48, 48, 48);
  width: 100%;
  height: 350px;
  border-radius: 10px;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
